* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

/* reset */
body {
    font-family: sans-serif;
}







/* header  */
header {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #fe7d00;
    box-shadow: 1px 1px 5px #444851;
}

header nav {
    padding-top: 20px;
}

.container {

    max-width: 1035px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-content: center;
}



header .links ul {
    display: flex;
    gap: 18px;

    list-style-type: none;

}

header .links ul a {
    color: white;
    text-decoration: none;
}



.logo img {
    width: 100px;
    height: 25px;


    margin-bottom: 15px;
}

header nav .icons {
    display: flex;
    align-content: space-between;
    gap: 18px;
}

header nav .icons i {
    color: white;

}

/* end header  */





/* main  */
main {
    margin-top: 63.5px;
}

.container-main {
    max-width: 1035px;
    min-width: 1035px;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    /* test  */
    /* border: solid black; */
}

.container-main .img-box {
    margin-top: 45px;
    width: 335px;
    height: 480px;
    min-width: 335px;
    max-width: 335px;

    /* test  */
    /* border: solid black; */
}

.prd-1 {
    background-image: url('../img/1.webp');
    background-size: cover;
}

.prd-2 {
    background-image: url('../img/2.webp');
    background-size: cover;
}

.prd-3 {
    background-image: url('../img/3.webp');
    background-size: cover;
}

.prd-4 {
    background-image: url('../img/4.webp');
    background-size: cover;
}

.pdr-5 {
    background-image: url('/img/5.webp');
    background-size: cover;
}

.prd-6 {
    background-image: url('/img/6.webp');
    background-size: cover;
}

.pdr-description {
    margin-bottom: 34px;
}

.brand {
    font-size: medium;
}

.model {
    font-size: 1.2em;
}

.price-row {
    display: flex;
    gap: 5px;
}

.discount-price {
    color: red;
}

.whole-price {
    text-decoration: line-through;
}

.container-main .tag-position {
    position: relative;
}

.container-main .tags {
    display: flex;
    z-index: 1;
    gap: 10px;
    position: absolute;
    bottom: 126px;

}

.discount-amount {
    padding: 5px;
    font-size: small;
    color: white;
    background-color: red;
}

.tag-type {
    padding: 5px;
    font-size: small;
    color: white;
    background-color: green;
}

.container-main .heart-row {
    position: absolute;
    display: flex;
    z-index: 2;
    top: 55px;
}

.container-main .heart-row #heart-tag {
    padding: 10px;
    font-size: 20px;
    color: black;

    background-color: white;
}

/* end main  */




/* footer */
footer {
    width: 100%;
    height: auto;

    border-style: solid;

    background-color: black;
}

.container-footer {
    margin-top: 24px;
    margin-bottom: 24px;

    display: flex;
    justify-content: space-between;
    max-width: 1035px;
    margin-left: auto;
    margin-right: auto;

    color: white;
}

.footer-left-info {
    display: flex;
    justify-content: start;
}

.footer-right-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container-footer #info-top-left {
    margin-bottom: 12px;
}

.container-footer #info-top-right {
    margin-bottom: 12px;
}

.socials {
    display: flex;
    gap: 20px;

}

.socials a {
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.socials a #facebook-link {
    padding-right: 2px;
    padding-left: 2px;
}